#!/bin/sh
#
# direnv automatically loads the python virtual environment and configures
# shell variables.
#
# see https://github.com/direnv/direnv/wiki/Python
#
export VIRTUAL_ENV=.venv
layout python3

# Configure podman to host the server
export DOCKER_HOST=unix:///run/user/$UID/podman/podman.sock
export CONTAINER_ENGINE=podman

# Server configuration
export RISUS_TOKEN=your-16-character-password-here
export DOMAIN=risus.example.com

